<input class="form-input input-lg input-invite-code" type="text" value="{{ code }}" readonly data-js-autoselect-input>

{% if num_remaining > 0 %}
  <button
    class="btn btn-primary"
    data-ic-get-from="{{ request.route_url(
      'ic_user_invite_code',
      username=request.user.username,
    ) }}"
    data-ic-replace-target="true"
  >Generate new code ({{ num_remaining }} left)</button>
{% endif %}
